<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>VideoClub</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>FilmController</display-name>
    <servlet-name>FilmController</servlet-name>
    <servlet-class>com.arkaitzgarro.videoclub.controller.FilmController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FilmController</servlet-name>
    <url-pattern>/peliculas/listado</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FilmViewController</display-name>
    <servlet-name>FilmViewController</servlet-name>
    <servlet-class>com.arkaitzgarro.videoclub.controller.FilmViewController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FilmViewController</servlet-name>
    <url-pattern>/peliculas/ver</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CartController</display-name>
    <servlet-name>CartController</servlet-name>
    <servlet-class>com.arkaitzgarro.videoclub.controller.CartController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CartController</servlet-name>
    <url-pattern>/carro/agregar</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CartViewController</display-name>
    <servlet-name>CartViewController</servlet-name>
    <servlet-class>com.arkaitzgarro.videoclub.controller.CartViewController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CartViewController</servlet-name>
    <url-pattern>/carro/ver</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CartDeleteController</display-name>
    <servlet-name>CartDeleteController</servlet-name>
    <servlet-class>com.arkaitzgarro.videoclub.controller.CartDeleteController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CartDeleteController</servlet-name>
    <url-pattern>/carro/quitar</url-pattern>
  </servlet-mapping>
</web-app>