@CHARSET "UTF-8";

body {
	padding-top: 70px;
}

table {
	margin-top: 1em;
}

table .actions {
	min-width: 200px;
}

footer {
	margin-top: 20px;
}

footer .copy {
	color: gray;
	font-size: 0.8em;
	text-align: center;
}